<!DOCTYPE html>
<html>
<head>
	<title>Growler</title>

	<link rel="stylesheet" type="text/css" href="../style/style.css">
</head>
<body>

<div class = "growl">
<form class = "formPosition" action="/" method="POST">
	Growl: <input type="text" name="growl">
               <button   type="submit">Growl!</button>
</form>
</div>
</body>
</html>