<!DOCTYPE html>
<html>
<head>
	<title>Growler</title>

	<link rel="stylesheet" type="text/css" href="../style/style.css">
</head>
<body>

<div class = "growl">
<input class = "formPosition" type="text" method="post"></input>
<input class = "formPosition" type="submit"></input>
</div>
</body>
</html>